<%= link_to 'Users' , users_path %>
<%= link_to 'Subjects', subjects_path %>
<%= link_to 'Courses', courses_path %>
<%= link_to 'Instructors', instructors_path %>
<%= link_to 'Search', enrollments_path %>
<%= link_to 'Log Out', sessions_destroy_url %>

<h1>Listing users</h1>
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<tr>
  		<td> <%= User.current_user.name %></td>
  		<td> <%= link_to 'Currently Enrolled Courses', User.current_user %></td>
  	</tr>
  </tbody>
</table>

<br>
