<%= link_to 'Users' , users_path %>
<%= link_to 'Subjects', subjects_path %>
<%= link_to 'Courses', courses_path %>
<%= link_to 'Instructors', instructors_path %>
<%= link_to 'Search', enrollments_path %>
<%= link_to 'Log Out', sessions_destroy_url %>


<h1>Search for a course</h1>
<p>You can search by course, subject, or both</p>

<%= form_tag(courses_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
	<%= submit_tag "Search", :name => nil %>
<% end %>

<p>
	<%=@courses%>
</p>
